extends layout

block inhead
	script(src="https://cdn.socket.io/socket.io-1.4.5.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js")

	link(rel="stylesheet", href="css/report.css")
	script(src="js/courseoverview.js")

block content

	div(class="container-fluid col-sm-10 col-sm-offset-1")
		h1 Course Overview

		h3(class='underline') Lecture Table
		table(border="1", id="CourseTable")
		
		h3(class='underline') Student Table & Chart
		table(border="1", id="StudentTable")
		canvas(id="student_chart")

	include footer.pug

