doctype html
html
	head
		title Log in to Read the Lecture!
	body
		if(username === "")
			p Error Login In
		else
			p You have Loged In, Welcome #{username}.
			form(action='/report', method='post')
				button See Report
			form(action='/lectures', method='get')
				button All Lectures