doctype html
html
	head
		title Log in to Read the Lecture!
	body
		if(username === "")
			p Error Login In
		else
			p You are Loged In, Welcome #{username}.
			if(isInstructor)
				form(action='/courseOverview', method='get')
					button Course Overview
			else
				form(action='/courseReport', method='get')
					button All Lectures
			

			form(action='/courseOverview', method='get')
				button Course Overview

			form(action='/logout', method='post')
				button Logout
			form(action='/Lecture.html', method='get')
				button Lecture