doctype html
html
	head
		title Log in to Read the Lecture!
	body
		form(action="/login", method="post", class="form-horizontal")
			p Username:
			input(type="text", id="username", name="username", placeholder="Enter Student ID", class="form-control")
			p Password:
			input(type="password", id="password", name="password", placeholder="Enter Password", class="form-control")

			p
			button(class="form-control") Submit
			
		form(action="/registerform", method="get")
			button Register
		form(action="/registerInstructorForm", method="get")
			button Register Instructor