#tag {
	background-color: rgba(0,0,0,0.3);
	color: white;

	margin: 3px;
	border-radius: 5px;

	padding: 3px;
	text-align: center;

	/*float: right;*/
	position: fixed;
}


#sidebar {
	background-color: transparent;
	color: white;
	position: fixed;
	left: 100%;
	border-radius: 5px;
}

.tagged {
	position: relative;
	background-color: white;
	display:block;

	border-radius: 5px;
	width: 50px;
	height: 50px;

	display: flex;
	align-items: center;
}

.clicked {
	background-color: green;
}

.unclicked {
	background-color: red;
}

#student_chart {
	width: 400;
	height: 400;
	position: fixed;
	background-color: red;
	border:1px solid #000000;
	left: 80%;

	/*remove to show the chart*/
	display: none;
}

#send_remove_tag {
	background-color: red;
	width: 100px;
	height: 75px;
	position: fixed;
	left: 0px;
	top: 0px;

	color: white;
	font-size: 28px;
}
