#tag {
	background-color: rgba(0,0,0,0.3);
	color: white;

	margin: 3px;
	border-radius: 5px;

	padding: 3px;
	text-align: center;

	/*float: right;*/
	position: fixed;
}


#sidebar {
	background-color: black;
	color: white;
	position: fixed;
	left: 100%;
	border-radius: 5px;
	font-size: 24px;
}

.tagged {
	color: black;
	background-color: white;
	display:block;

	border-radius: 5px;
	padding: 5px;
}

.good {
	background-color: green;
}

.bad {
	background-color: red;
}

#student_chart {
	width: 400;
	height: 400;
	position: fixed;
	background-color: red;
	border:1px solid #000000;
	left: 80%;
	
	/*remove to show the chart*/
	display: none;
}

#send_tag {
	background-color: red;
	width: 100px;
	height: 75px;
	position: fixed;
	left: 0px;
	top: 0px;

	color: white;
	font-size: 28px;
}