#tag {
	background-color: rgba(0,0,0,0.3);
	color: white;

	margin: 3px;
	border-radius: 5px;

	padding: 3px;
	text-align: center;

	/*float: right;*/
	position: fixed;
}


#sidebar {
	background-color: black;
	color: white;
	position: fixed;
	left: 100%;
	border-radius: 5px;
	font-size: 24px;
}

.tagged {
	color: black;
	background-color: white;
	display:block;

	border-radius: 5px;
	padding: 5px;
}

