doctype
html
	head
		title=title
		
		link(rel="stylesheet",
			 href="/stylesheets/chat.css")

		script(src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(src="/javascripts/chat.js")

		script.
			 var username = "#{username}";

	body
		ul(id="messages")
		form
			input(id="m", autocomplete="off")
			button Send