doctype
html
	head
		title Log in to Chat!
	body
		if error
			p you Enter a wrong password for username!
		else
			form(action="/chat", method="post",c lass="form-horizontal")
				p Username:
				input(type="text", id="username", name="username", placeholder="Enter Username", class="form-control")
				p Password:
				input(type="text", id="password", name="password", placeholder="Enter Password", class="form-control")

				button(class="form-control") Submit